[Unit]
Description=GPIO shutdown button
After=network.target

[Service]
Environment=DISPLAY=:0
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/pi/git/mvg_status/shutdown_button.py

[Install]
WantedBy=multi-user.target
